<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Hinzufügen
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Neue Notiz</ion-card-title>
        </ion-card-header>
        <!-- <ion-list> -->
        <ion-list lines="full">
            <ion-item>
                <ion-input required autofocus autocapitalize autocorrect spellcheck autocomplete clearInput placeholder="Titel"></ion-input>
            </ion-item>
            <ion-item>
                <ion-datetime required display-format="DDD DD. MM. YYYY" placeholder="Datum"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-datetime display-format="HH:mm" placeholder="Uhrzeit"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-textarea auto-grow autocapitalize autocorrect spellcheck autocomplete wrap="soft" clearInput placeholder="Notizen"></ion-textarea>
            </ion-item>
            <ion-item>
                <ion-thumbnail slot="start">
                    <img src="{{ myphoto }}"  alt="testbild">
                </ion-thumbnail>
                <ion-button (click)="foto('picture')" fill="outline">Foto</ion-button>
                <ion-button (click)="foto('gallery')" fill="outline">Galerie</ion-button>
            </ion-item>
            <ion-item lines="none">
                <ion-button expand="block" fill="solid">Notiz speichern</ion-button>
            </ion-item>
        </ion-list>
    </ion-card>
</ion-content>