<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Hinzufügen
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form (ngSubmit)="submitAddNote()">
        <ion-list lines="full">
            <ion-item>
                <ion-input [(ngModel)]="addNote.title" name="title" required autofocus autocapitalize autocorrect spellcheck clearInput placeholder="Titel"></ion-input>
            </ion-item>
            <ion-item>
                <ion-datetime [(ngModel)]="addNote.dateTime" name="dateTime" required display-format="DDD DD. MM. YYYY, HH:mm" placeholder="Datum und Uhrzeit"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-textarea [(ngModel)]="addNote.notes" name="notes" auto-grow autocapitalize autocorrect spellcheck wrap="soft" clearInput placeholder="Notizen"></ion-textarea>
            </ion-item>
            <ion-item>
                <ion-thumbnail slot="start">
                    <img src="{{myphoto}}"  alt="testbild">
                </ion-thumbnail>
                <ion-button type="button" (click)="picture('photo')" fill="outline">Foto</ion-button>
                <ion-button type="button" (click)="picture('gallery')" fill="outline">Galerie</ion-button>
            </ion-item>
        </ion-list>
        <ion-button type="submit" expand="block" fill="solid">Notiz speichern</ion-button>
    </form>
    <!-- <p><strong>Einfacher Forminput</strong></p>
        <form (ngSubmit)="testData()">
            Funktion, die beim submit aufgerufen werden
            <ion-item>
                <ion-label position="floating">Titel:</ion-label>
                <ion-input type="text" [(ngModel)]="formInput.input1" name="test1"></ion-input> Durch ngModel werden die Daten automatisch in die "formInput"-Variable im TS gespeichert
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Titel:</ion-label>
                <ion-input type="text" [(ngModel)]="formInput.input2" name="test1"></ion-input>
            </ion-item>
            <ion-button expand="block" type="submit">Senden</ion-button> Senden Button
        </form> -->
</ion-content>