<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Notizzettel
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
        <ion-row>
            <ion-col>
                <ion-card *ngFor="let listItem of listItems">
                    <ion-card-header>
                        <ion-grid>
                            <ion-row>
                                <ion-col size="12" size-sm>
                                    <ion-card-title>{{listItem.title}}</ion-card-title>
                                </ion-col>
                                <ion-col>
                                    <ion-card-title>{{listItem.time}}</ion-card-title>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-grid>
                            <ion-row>
                                <ion-col size="12" size-sm>
                                    <p>{{listItem.picture}}</p>
                                    <ion-img src="/assets/shapes.svg"></ion-img>
                                </ion-col>
                                <ion-col>
                                    <p>{{listItem.content}}</p>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>